body, html {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #ffce3e;
}

body {
    background-color: #e6e8ea;

    color: #444;
}

.fecha{
  padding-top:  10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;

}

.title{
    padding-left: 10px;
    padding-right: 10px;
}

.hero {
    width: 100%;

    padding-top: 2em;
    padding-bottom: 2em;

    text-align: center;
    font-size: 9vw;

    background-image: url('https://papercallio-production.s3.amazonaws.com/uploads/event/logo/1339/PyMX.png');
    background-size: 150px 150px;
    background-blend-mode: color;
    background-color: rgba(52,58,64, .9);
    color: whitesmoke;
}

a {
    text-decoration: none;
}

.text-blue {
    color: #366e9d;
}

.text-yellow {
    color: #ffce3e;
}

.text-whitesmoke {
    color: whitesmoke;
}

.info{
  font-size: 15px;
}

.container {
    padding-top:  10px;
    width: 80%;

    padding-left: 10%;
    padding-right: 10%;
}

.text-center {
    text-align: center;
}

hr {
    height:3px;
    border:none;
    color:#366e9d;
    background-color:#366e9d;
}

.navbar {
    position: absolute;
    width: 100%;
    background: rgba(0,0,0, 0.2);
} 

.navbar-brand {
    color: white;
}

footer {
    background-color: #ffce3e;
    color: #444;
    padding-top: 1em;
    padding-bottom: 1em;

    border-top: 3px #366e9d solid;
}

@media (max-width:767px) {
    .hero {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

@media (max-width:1199px) {
    .hero {
        padding-top: 3em;
        padding-bottom: 3em;
    }
}
