<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PyhonDayMx 2018 - Countdown</title>

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" type="image/png" href="http://pythonday.mx/img/python.png"/>
</head>
<body>
    <div class="hero">
        <h3><span class="text-gray">Countdown</span> <a href="http://pythonday.mx/">
            <span class="text-blue">PythonDay</span>
            <span class="text-yellow">México</span>
        </a></h3>
        <h4 id="fecha"></h4>
    </div>

    <div class="container text-center">
        <h3>
            Viernes 30 de noviembre y sábado 1 de diciembre
        </h3>
        <h3>
            Centro Universitario de Ciencias Económico Administrativas.
            Periférico Norte N° 799, Núcleo Universitario Los Belenes, 45100 Zapopan, Jal.
        </h3>
    </div>

    <footer class="text-center">
        This site is open source.
        <a class="text-whitesmoke" href="https://github.com/RodolfoFerro/CountdownPythonDayMx2018/">Improve this page</a>
    </footer>

    <script src="../static/js/script.js"></script>
</body>
</html>
