<!DOCTYPE html>

<html>
   <head>
      <title>PythonDay México 2018</title>
      <meta charset="utf-8"/>
      <meta name="author" content="EduardoCibernetica">
      <meta name="description" content="Sitio para el Python day 2018 celebrado en Guadalajara">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/time.css">
   </head>

   <body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
       <div class="container">
         <a class="navbar-brand js-scroll-trigger" href="index.html#page-top"></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse">
           <ul class="navbar-nav ml-auto">
             <!--
             <li class="nav-item">
               <a class="nav-link js-scroll-trigger" href="#about">Quienes somos?</a>
             </li>
           -->
           <!--
             <li class="nav-item">
               <a class="nav-link js-scroll-trigger" href="#talleres">Talleres</a>
             </li>
             <li class="nav-item">
               <a class="nav-link js-scroll-trigger" href="#platicas">Platicas</a>
             </li>
             -->
           </ul>
         </div>
       </div>
     </nav>

     <header class="bg-info text-white">
       <div class="container text-center">
         <br><br><br><br>
         </p><img src="img/python.png" class="img-responsive" width="120" height="120"><br><br><br></p>
         <p><h3>PythonDay México 2018</h3></p>
         <p>Viernes 30 de noviembre y sábado 1 de diciembre<br>Guadalajara, Jalisco</p>
         <br><br>
       </div>
     </header>



     
<!--
     <section id="talleres">
       <div class="container btn-default">
          <div class="row">
              <div class="col-sm-4"><h3><b><br>Talleres Viernes - 30 de Noviembre</b></h3></div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4"></div>
          </div>
          <div class="row">
              <div class="col-sm-4">
              <p>
                <h5>Nombre del Taller</h5>
                <small>Fecha y hora</small>
                <br><br>
                En la siguiente seccion es un ejemplo de como se mostrara, parte donde se pondra una pequeña descripcion del taller y su contenido.
                <br><br>
                <b><i align="right">Nombre del tallerista</i></b>
              </p>
              </div>
              <div class="col-sm-4">
                <p>
                  <h5>Nombre del Taller</h5>
                  <small>Fecha y hora</small>
                  <br><br>
                  En la siguiente seccion es un ejemplo de como se mostrara, parte donde se pondra una pequeña descripcion del taller y su contenido.
                  <br><br>
                  <b><i align="right">Nombre del tallerista</i></b>
                </p>
              </div>
              <div class="col-sm-4">
                <p>
                  <h5>Nombre del Taller</h5>
                  <small>Fecha y hora</small>
                  <br><br>
                  En la siguiente seccion es un ejemplo de como se mostrara, parte donde se pondra una pequeña descripcion del taller y su contenido.
                  <br><br>
                  <b><i align="right">Nombre del tallerista</i></b>
                </p>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4"></div>
          </div>
      </div>
     </section>

     <section id="platicas">
       <div class="container btn-default">
          <div class="row">
              <div class="col-sm-4"><h3><b>Talleres Sabado - 1 de Diciembre</b></h3></div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4"></div>
          </div>
          <div class="row">
              <div class="col-sm-4">
              <p>
                <h5>Nombre del Taller</h5>
                <small>Fecha y hora</small>
                <br><br>
                En la siguiente seccion es un ejemplo de como se mostrara, parte donde se pondra una pequeña descripcion del taller y su contenido.
                <br><br>
                <b><i align="right">Nombre del tallerista</i></b>
              </p>
              </div>
              <div class="col-sm-4">
                <p>
                  <h5>Nombre del Taller</h5>
                  <small>Fecha y hora</small>
                  <br><br>
                  En la siguiente seccion es un ejemplo de como se mostrara, parte donde se pondra una pequeña descripcion del taller y su contenido.
                  <br><br>
                  <b><i align="right">Nombre del tallerista</i></b>
                </p>
              </div>
              <div class="col-sm-4">
                <p>
                  <h5>Nombre del Taller</h5>
                  <small>Fecha y hora</small>
                  <br><br>
                  En la siguiente seccion es un ejemplo de como se mostrara, parte donde se pondra una pequeña descripcion del taller y su contenido.
                  <br><br>
                  <b><i align="right">Nombre del tallerista</i></b>
                </p>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4"></div>
          </div>
      </div>
     </section>
-->
<!--
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
-->
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <h2><br>Agenda</h2>
    <h3><br>Talleres, viernes 30 de noviembre</h3>

    
   <div class="row">
      
      <div class="col-md-12 col-lg-12">
         <div id="tracking-pre"></div>
         <div id="tracking">
           

            <div class="tracking-list">
               
              <div class="tracking-item">
                  <div class="tracking-icon status-taller">
                
                     <!-- <i class="fas fa-circle"></i> -->
                  </div>
                  <div class="tracking-date">Nov 30, 2018<span>08:00 AM</span></div>
                  <div class="tracking-content">Registro<span>Presenta tu boleto digital obtenido previamente:</span><a href="https://pythonday-mexico-gdl-2018.boletia.com/">https://pythonday-mexico-gdl-2018.boletia.com</a><span></span></div>


               </div>

               <div class="tracking-item">
                <div class="tracking-icon status-taller">
                </div>
                <div class="tracking-date"><span>08:30 AM</span></div>
                <div class="tracking-content">Acto inaugural<span>Auditorio Central</span></div><br>
             </div>

               <div class="tracking-item">
                  <div class="tracking-icon status-taller">
                  </div>
                  <div class="tracking-date"><span>09:00 AM</span></div>
                  <div class="tracking-content">Machine Learning as a Service (MLaaS): Sirviendo soluciones inteligentes.<span>Por: Rodolfo Ferro</span><span>Auditorio Central - Sala A</span><span>Duración: 3 horas</span></div><br>
                  <div class="tracking-content">Programación para no programadores: Diseño de Interfaz Gráfica (GUI) usando Tkinter y Python<span>Por: Juan Nicolas Tautiva</span><span>Duración: 3 horas y media</span></div><br>
               </div>

               <div class="tracking-item">
                  <div class="tracking-icon status-taller">
                  </div>
                  <div class="tracking-date"><span>12:00 AM</span></div>
                  <div class="tracking-content">Creación de Telegram bots con Python<span>Por: Mario Garcia</span><span>Auditorio Central - Sala A </span><span>Duración: 2 horas</span></div><br>
                  <div class="tracking-content">De Cero a JupyterHub con Kubernetes<span>Por: Sergio Sánchez</span><span>Auditorio Central - Sala B </span><span>Duración: 1 hora y media</span></div><br>
                  <div class="tracking-content">Introducción a la Visión artificial con OpenCV<span>Por: Jose Manuel Gama Estrada</span><span>Auditorio - Sala CERI</span><span>Duración: 2 horas</span></div><br>
               </div>

               <div class="tracking-item">
                  <div class="tracking-icon status-taller">
                  </div>
                  <div class="tracking-date"><span>14:00 PM</span></div>
                  <div class="tracking-content">Receso<span></span></div><br>
               </div>

               <div class="tracking-item">
                  <div class="tracking-icon status-taller">
                  </div>
                  <div class="tracking-date"><span>15:00 PM</span></div>
                  <div class="tracking-content">Microservicios con Python<span>Por: Eduardo Ismael García Pérez</span><span>Auditorio Central - Sala A</span><span>Duración: 2 horas</span></div><br>
                  <div class="tracking-content">Machine Learning con TensorFlow<span>Por: Hector Cuesta</span><span>Auditorio Central - Sala B</span><span>Duración: 2 horas</span></div><br>
                  <div class="tracking-content">Visualización de datos con Altair<span>Por: Sergio Sánchez</span><span>Auditorio - Sala CERI</span><span>Duración: 1 hora</span></div><br>
               </div>


             
              
            </div>
         </div>
      </div>
   </div>
</div>





<div class="container">
  <h3><br>Pláticas, sábado 1<sup>º</sup> de diciembre.</h3>

  
 <div class="row">
    
    <div class="col-md-12 col-lg-12">
       <div id="tracking-pre"></div>
       <div id="tracking">
         

          <div class="tracking-list">
             
  

             <div class="tracking-item">
                <div class="tracking-icon status-conferencias">
              
                   <!-- <i class="fas fa-circle"></i> -->
                </div>
                <div class="tracking-date">Dic 1, 2018<span>08:00 AM</span></div>
                <div class="tracking-content">Registro<span>Presenta tu boleto digital obtenido previamente:</span><a href="https://pythonday-mexico-gdl-2018.boletia.com/">https://pythonday-mexico-gdl-2018.boletia.com</a><span></span></div>
              </div>

             
             <div class="tracking-item">
                <div class="tracking-icon status-conferencias">
                </div>
                <div class="tracking-date"><span>09:00 AM</span></div>
                <div class="tracking-content">Conferencia magistral<span>Por anunciarse</span><span>Auditorio Central</span></div><br>
             </div>


             <div class="tracking-item">
                <div class="tracking-icon status-conferencias">
                </div>
                <div class="tracking-date"><span>10:00 AM</span></div>
                <div class="tracking-content">Optimizing Mexico City's transportation through Reinforcement Learning<span>Por: Adolfo Martínez</span><span>Auditorio Central - Sala A</span></div><br>
                <div class="tracking-content">Django REST Framework: Desarrollar API's con Python y Django<span>Por: Jesus Armando Anaya</span><span>Auditorio Central - Sala B</span></div><br>
                <div class="tracking-content">Creando Flujos de Trabajo (Workflows) usando Celery<span>Por: Josue Balandrano Coronel</span><span>Auditorio Central - Sala C</span></div><br>
                <div class="tracking-content">Un sencillo servidor websocket con Tornado<span>Por: Juan José González</span><span>Auditorio Central - Sala D </span></div><br>
                
             </div>


             <div class="tracking-item">
                <div class="tracking-icon status-conferencias">
                </div>
                <div class="tracking-date"><span>11:00 AM</span></div>
                <div class="tracking-content">DiPy: Analizando el cerebro a través de tensores de difusión con Python<span>Por: David Cortés Servín</span><span>Auditorio Central - Sala A</span></div><br>
                <div class="tracking-content">Puente Snap - MQTT usando Python<span>Por: David Ochoa</span><span>Auditorio Central - Sala B</span></div><br>
                <div class="tracking-content">¿Puede Python enseñar a mi computadora a organizar su armario? Clasificación de formas parecidas<span>Por Edgar Josué Pedraza Cervantes</span><span>Auditorio: Central - Sala C</span></div><br>
                <div class="tracking-content">Now is better than Never: What the Zen of Python can teach us about Data Ethics<span>Por: Lorena Mesa</span><span>Auditorio Central - Sala D</span></div><br>
             </div>

             <div class="tracking-item">
                <div class="tracking-icon status-conferencias">
                </div>
                <div class="tracking-date"><span>12:00 PM</span></div>
                <div class="tracking-content">Data science con SciPy<span>Por: Rodolfo Ferro</span><span>Auditorio Central - Sala A</span></div><br>
                <div class="tracking-content">How to Open Source your Python project<span>Por: Mario Garcia</span><span>Auditorio Central - Sala B</span></div><br>
                <div class="tracking-content">¿Cómo y por qué hacer logs te puede salvar de un desastre?<span>Por: Javier Novoa Cataño</span><span>Auditorio Central - Sala C</span></div><br>
                <div class="tracking-content">A Junior Developer's Guide to Software Engineering<span>Por: Kojo Idrissa</span><span>Auditorio Central - Sala D</span></div><br>
             </div>

             <div class="tracking-item">
                <div class="tracking-icon status-conferencias">
                </div>
                <div class="tracking-date"><span>13:00 PM</span></div>
                <div class="tracking-content">Conferencia magistral<span>Por anunciarse</span><span>Auditorio Central</span></div><br>
             </div>
             <div class="tracking-item">
                <div class="tracking-icon status-conferencias">
                </div>
                <div class="tracking-date"><span>14:00 PM</span></div>
                <div class="tracking-content">Clausura<span></span></div><br>
             </div>


            
          </div>
       </div>
    </div>
 </div>
</div>

     <!-- Footer -->
<footer class="page-footer bg-dark text-white font-small">

   <div class="bg-info">
     <div class="container">

       <!-- Grid row-->
       <div class="row py-4 d-flex align-items-center">

         <!-- Grid column -->
         <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
           <h6 class="mb-0">¡Encuéntranos en las redes sociales!</h6>
         </div>
         <!-- Grid column -->

         <!-- Grid column -->
         <div class="col-md-6 col-lg-7 text-center text-md-right">

           <!-- Facebook -->
           <a class="fb-ic" href="https://www.facebook.com/pythondaymx/">
              <img src="img/fb.png" class="img-fluid" width="50">
           </a>
           <!-- Twitter -->
           <a class="tw-ic" href="https://twitter.com/pythondaymx">
            <img src="img/tw.png" class="img-fluid" width="50">
           </a>
           <!-- Google +-->
           <a class="gplus-ic">
             <i class="fa fa-google-plus white-text mr-4"> </i>
           </a>
           <!--Linkedin -->
           <a class="li-ic">
             <i class="fa fa-linkedin white-text mr-4"> </i>
           </a>
           <!--Instagram-->
           <a class="ins-ic">
             <i class="fa fa-instagram white-text"> </i>
           </a>

         </div>
         <!-- Grid column -->

       </div>
       <!-- Grid row-->

     </div>
   </div>

   <!-- Footer Links -->
   <div class="container text-center mt-5">
     <!-- Grid row -->
     <div class="row">
       <!-- Grid column -->
       <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
         <!-- Content -->
         <h6 class="text-uppercase font-weight-bold">CROWDFUNDING</h6>
         <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto bg-info" style="width: 60px;">
         <p>
           <button type="button" class="btn bg-info" >Clic aquí</button>
         </p>

       </div>
       <!-- Grid column -->

       <!-- Grid column -->
       <div class="col-md-4 mx-auto mb-4">

         <!-- Links -->
         <h6 class="text-uppercase font-weight-bold">Colaboradorxs</h6>
         <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto bg-info" style="width: 60px;">

         <p>

          CUCEA<br>
          PyMX<br>
          Python Cabal<br>
          David Ochoa<br>
          FiPa Software<br><br>

          Gracias a todas las personas que hacen este evento posible.
          <br>
         </p>

       </div>
       <!-- Grid column -->

       <!-- Grid column -->

       <!--
       <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">-->

         <!-- Links-->
       <!--
         <h6 class="text-uppercase font-weight-bold">Quienes somos?</h6>
         <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
         <p>

         </p>


       </div>
        -->
       <!-- Grid column -->

       <!-- Grid column -->
       <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">

         <!-- Links -->
         <h6 class="text-uppercase font-weight-bold">Ubicación de la sede</h6>
         <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto bg-info" style="width: 60px;"><br>
         <button type="button" class="btn bg-info" onclick="window.location.href='https://www.openstreetmap.org/#map=17/20.74173/-103.38189'">Mapa</button><br><br>
         <img src="img/udg3.png" class="img-fluid" width="150">


         <i class="fa fa-home mr-3"></i><p> <center>Centro Universitario de Ciencias Económico Administrativas.  <br>
          Periférico Norte N° 799, Núcleo Universitario Los Belenes, 45100 Zapopan, Jal. <br><br>
          
    

         </p>
       </center>

       </div>
       <!-- Grid column -->

     </div>
     <!-- Grid row -->

   </div>
   <!-- Footer Links -->


 </footer>
 <!-- Footer -->

     <!-- jQuery-->
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="http://pythonday.mx/js/time.js"></script>
   </body>

</html>
