<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PyhonDayMx 2018 - Countdown</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="hero">
      <h2 class="title">
        <span class="text-gray">Countdown</span> <a href="http://pythonday.mx/">
            <span class="text-blue">PythonDay</span>
            <span class="text-yellow">México</span>
        </a>
      </h2>
        <h1 class="display-1 fecha" id="fecha"></h1>
    </div>

    <div class="container text-center lead">
        <p>
            Viernes 30 de noviembre y sábado 1 de diciembre
        </p>
        <p>
            Centro Universitario de Ciencias Económico Administrativas.
            Periférico Norte N° 799, Núcleo Universitario Los Belenes, 45100 Zapopan, Jal.
        </p>
    </div>

    <footer class="text-center">
        This site is open source.
        <a class="text-whitesmoke" href="https://github.com/RodolfoFerro/CountdownPythonDayMx2018/">Improve this page</a>
    </footer>

    <script src="../static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
